<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title color="dark">
      Contador de truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Valendo => <span>{{valor}}</span> </ion-card-title>
      <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="secondary" (click)=" pontoTime1()">1</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" (click)="pontoTime3()">3</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" (click)="pontoTime6()">6</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" (click)="pontoTime9()">9</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" (click)="pontoTime12()">12</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-col size="6" class="centro">
          <ion-card>
            <h1>Time 1</h1>
            <div>
              <ion-button (click)="somarPontos()" color="secondary">+</ion-button>
            </div>
            <h1>{{pontotime1}}</h1>
            <div>
              <ion-button (click)="subPontos()" color="secondary">-</ion-button>
            </div>
          </ion-card>
        </ion-col>

      </ion-col>

      <ion-col>

        <ion-col size="6" class="centro">
          <ion-card>
            <h1>Time 2</h1>
            <div>
              <ion-button (click)="somarPontos2()" color="secondary">+</ion-button>
            </div>
            <h1>{{pontotime2}}</h1>
            <div>
              <ion-button (click)="subPontos()" color="secondary">-</ion-button>
            </div>
          </ion-card>
        </ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Partidas</ion-card-title>
      <h1>Time 1 => {{vitoriatime1}} </h1>
      <h1>Time 2 => {{vitoriatime2}} </h1>
    </ion-card-header>
  </ion-card>

  <ion-footer>
    <ion-button fill="outline" expand="block" (click)="limparTudo()">Limpar</ion-button>
  </ion-footer>






</ion-content>
